body {
    position: relative;
    min-height: 97.8vh;
    background:no-repeat top / cover url('./background2.jpg');
    
}
body, 
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 600px;
    max-width: 100%;
}
.title {
    background-color: khaki;
    text-align: center;
    font-size: 3em;
    padding: 0px 50px;
    color: blue;
}

.navBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 0px;
    justify-content: space-evenly;
}

.tab {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: lawngreen;
    cursor: pointer;
}
.tab:hover {
    background-color: hsl(90, 100%, 79%);
}

#content {

}

footer {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 98%;
    min-width: 300px;
    height: 2rem;
    color: hsl(28, 67%, 14%);
}
  
footer input {
    display: inline;
    height: 20px;
    transition: transform 1s;
}
  
footer input:hover {
    transform: scale(3) translate(0, -5px);
}

@media screen and (max-width: 504px) {
    .title {
        font-size: 2.2em;
        padding: 0px 20px;
    }
}