@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Sorts+Mill+Goudy&display=swap');

html {
    color: #eae2b7;
    font-family: 'Amita', cursive;
    background:url('./assets/images/background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body, 
header, 
.container,
#content {
    display: flex;
    align-items: center;
}
.text {
    font-size: 22px;
    white-space: pre-line;
}
body {
    flex-direction: column;
    position: relative;
    height: 100vh;
    margin: 0px;
}

header {
    flex: 0 0 150px;
    flex-direction: row;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.title {
    text-align: center;
    font-weight: 700;
    font-size: 3em;
    width: 100%;
    height: min-content;
    padding: 0px 50px;
    color: #eae2b7;
}

.navBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: min-content;
    padding: 20px 0px;
    padding-right: 10px;
    justify-content:right;
}

.tab {
    font-size: 32px;
    padding: 5px 10px;
    margin: 0px 10px;
    cursor: pointer;
}
.tab:hover {
    color: hsl(51, 55%, 99%);
    transition: color 0.5s;
}

#content {
    flex: 1 0 auto;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
}

.container {
    flex-direction: column;
    width: 85%;
    min-width: 760px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 30px;               
}
.menuHeading {
    width: 100%;
    text-align: left;
}
hr {
    color: white;
}

.menuContainerRow {
    display: grid;
    grid-template-columns: repeat(2, minmax(60px, 1fr));
    grid-gap: 10px;
}

.menuItem {
    background-color: rgba(202, 103, 2, 0.8);
    border-radius: 15px;
    padding: 15px 25px 0px;
}
.foodPic {
    border-radius: 15px;
}

.contactSection {
}
footer {
    flex: 0 0 2rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 98%;
    min-width: 300px;
}
  
footer input {
    display: inline;
    height: 20px;
    transition: transform 1s;
}
  
footer input:hover {
    transform: scale(3) translate(0, -5px);
}

@media screen and (max-width: 504px) {
    .container {
        min-width:unset;
    }
    header {
        flex-direction: column;
        height: min-content;
    }
    .navBar {
        justify-content: center;
    }

    .title {
        font-size: 2.2em;
        padding: 0px 20px;
    }
    .menuContainerRow {
        grid-template-columns: 1fr;
    }
}